

.home-info-content {
    position: absolute;
    /*display: flex;*/
    height: 50%;
    opacity: 1;
}

.card {
    padding: 2rem 3rem;
    overflow: hidden;
    width: 30rem;
    border-radius: 5px;
}

.card p{
    padding-top: 1rem;
    line-height: 150%;
}

.example-container div {
    position: absolute;
    top: 50px;
    right: 65px;
    background: white;
    border-radius: 8px;
    width: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
}

.example-container2 div {
    position: absolute;
    top: 483px;
    left: 69px;
    background: white;
    border-radius: 8px;
    width: 7rem;
    height: 2rem;
    overflow: hidden;
}

.fullscreen-overlay {
    position: fixed;
    top: -11.4rem;
    left: -72rem;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.98); /* Adjust the opacity and color as needed */
    z-index: 1000; /* Adjust the z-index as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding-top: 30rem;
    padding-bottom: 2rem;
}

.fullscreen-overlay2 {
    position: fixed;
    top: -11.79rem;
    left: -12rem;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.98); /* Adjust the opacity and color as needed */
    z-index: 1000; /* Adjust the z-index as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: sans-serif;
    --black: #000000;
    --ash-black: #222;
    --white: #fafafa;
    --sky: #00ccff;
    --green: #22dddd;
    --blue: #1300ff;
    --dusk: #6600ff;
    --purple: #9900ff;
    --pink: #ff0066;
    --red: #fe0222;
    --orange: #fd7702;
    --yellow: #ffbb00;

    --background: var(--purple);
    --accent: var(--white);

    background: var(--background);
    color: var(--foreground);
    padding-bottom: 100px;
    letter-spacing: -0.3px;
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-top: 1px dotted var(--accent);
    background-color: transparent;
    background-image: radial-gradient(
            circle at 50% 50%,
            var(--background) 20%,
            transparent 20.5%,
            transparent 49.5%,
            var(--background) 50%
    );

    background-size: 15px 15px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    font-size: 14px;
    line-height: 14px;
}

footer svg {
    margin-right: 20px;
}

footer a {
    text-decoration: none;
    color: var(--accent);
}

code {
    font-family: input-mono, monospace;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: var(--background);
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: #fff3;
}

* {
    font-family: Inter, sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1 {
    text-align: center;
    margin: 100px 0;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    color: var(--accent);
}

h2 {
    font-weight: 400;
    margin: 50px 0 10px;
    color: var(--accent);
}

p {
    margin: 0 0 30px 0;
    color: var(--accent);
}

article {
    max-width: 500px;
    line-height: 1.6;
    margin: auto;
}

.video-container {
    --border-width: 40px;
    margin: var(--border-width) auto;
    position: sticky;
    top: var(--border-width);
    width: 400px;
    height: 225px;
    backdrop-filter: blur(4px) brightness(150%);
}

video {
    width: 400px;
    position: relative;
}





