@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue-rgb: 237 245 255;
    --green-rgb: 125 161 35;
}

/*body {*/
/*    */

/*}*/
body {
    font-family: "Work Sans", sans-serif;
    --black: #000000;
    --ash-black: #222;
    --white: #fafafa;
    --sky: #00ccff;
    --green: #22dddd;
    --blue: #1300ff;
    --dusk: #6600ff;
    --purple: #9900ff;
    --pink: #ff0066;
    --red: #fe0222;
    --orange: #fd7702;
    --yellow: #ffbb00;

    --background: var(--white);
    --accent: var(--white);
    background-color: #343d60;
    color: var(--foreground);
    padding-bottom: 100px;
    letter-spacing: -0.3px;
    margin: 0;
    padding: 0;
}


body1 {
    font-family: "Work Sans", sans-serif;
    --black: #000000;
    --ash-black: #222;
    --white: #fafafa;
    --sky: #00ccff;
    --green: #22dddd;
    --blue: #1300ff;
    --dusk: #6600ff;
    --purple: #9900ff;
    --pink: #ff0066;
    --red: #fe0222;
    --orange: #fd7702;
    --yellow: #ffbb00;
}


